<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express • TodoMVC</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/home.css">
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-xr70z39BOZFmu0cDE2oFuSKECyWCc/B+1Fqa4AD4qMt6y62x85FpqlBcQ1eBMT0Nuh8TkNjYlfOgDX9ShtjZBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="todohome">
    <header>
      <h1>Welcome to Our Website</h1>
    </header>
    <section>
      
      <h2>Get Started</h2>
      <div class="button-group">
        <a class="button signin" href="/login">
          <i class="fas fa-sign-in-alt"></i> Sign in
        </a>
        <a class="button signup" href="/signup">
          <i class="fas fa-user-plus"></i> Sign up
        </a>
        <a class="button facebook" href="/login/federated/facebook">
          <i class="fab fa-facebook"></i> Sign in with Facebook
        </a>
      </div>
    </section>
  </section>
  
  <footer class="info">
    <p>Created by <a href="https://www.jaredhanson.me">Chuntawat</a></p>
    <p>Part of <a href="https://github.com/6431503009">My profile</a></p>
    <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
  </footer>
</body>

</html>